<% @student.errors.full_messages.each do |message| %>
   <div class="alert alert-danger" role="alert"><%=message%> </div>
<% end %>

<div class="ui form">
   <%= form_for @student do |f| %>
      <div class="field">
         <%= f.label :name %><br>
         <%= f.text_field :name %>
      </div>

      <div class="field">
         <%= f.label :register_number %><br>
         <%= f.text_field :register_number %>
      </div>

      <div class="field">
      	<%= f.label :status %><br>
      	<%= f.number_field :status %>
      </div>
      <br>
      <%= f.submit "Save", class: "btn btn-success" %>
      <%= link_to "Back", :root, class: "btn btn-info" %>
   <%end %>
</div>
