<% if flash[:notice] %>
    <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
<% end %>

<h1>Students</h1>
<%= link_to 'New Student', new_student_path, class: "btn btn-primary" %>
<br><br>
<table class="table table-bordered">
   <thead>
      <tr>
         <td><b>Name</b></td>
         <td><b>Register Number</b></td>
         <td class="text-center" ><b>Status</b></td>
         <td></td>
         <td></td>
      </tr>
   </thead>

   <tbody>
      <% @students.each do |student| %>
         <tr>
            <td> <%= student.name %> </td>
            <td> <%= student.register_number %> </td>
            <td class="text-center" > <%= student.status %> </td>
            <td class="text-center" > <%= button_to "Edit", edit_student_path(student), class: "btn btn btn-warning" %> </td>
            <td class="text-center" > <%= button_to "Destroy", student, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?'} %> </td>
        </tr>
      <% end  %>
   </tbody>
</table>
