<% if flash[:notice] %>
    <div class="alert alert-success" role="alert"><%= flash[:notice] %></div>
<% end %>

<h1>Students</h1>
<%= link_to 'New Student', new_student_path, class: "btn btn-primary" %>
<br><br>
<table class="table table-bordered">
   <thead>
      <tr>
         <th>Name</th>
         <th>Register Number</th>
         <th class="text-center col-md-2">Status</th>
         <th class="col-md-1"></th>
         <th class="col-md-1"></th>
      </tr>
   </thead>

   <tbody>
      <% @students.each do |student| %>
         <tr>
            <td> <%= student.name %> </td>
            <td> <%= student.register_number %> </td>
            <td class="text-center" > <%= student.status %> </td>
            <td class="text-center" > <%= button_to "Edit", edit_student_path(student), class: "btn btn btn-warning" %> </td>
            <td class="text-center" > <%= button_to "Destroy", student, method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?'} %> </td>
        </tr>
      <% end  %>
   </tbody>
</table>
